<nav class="navbar d-none d-lg-block">
  <ul class="nav nav-tabs">
    <a class="navbar-brand" routerLink="/" id="logoBtn">
      <img
        class="logo"
        src="../../assets/img/logo.jpg"
        alt="weather app logo"
      />
    </a>
    <li class="nav-item">
      <a
        class="nav-link"
        aria-current="page"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/"
        >Strona główna</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/list"
        >Lista stacji IMGW</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/weather-data"
        >Aktualne dane pogodowe</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLinkActive="active"
        routerLink="/weather-forecast"
        >Prognoza pogody</a
      >
    </li>
    <li class="nav-item">
      <a
        id="dropdownMenuButton"
        type="button"
        class="nav-link dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Kamery live
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="nav-link" routerLinkActive="active" routerLink="/webcamera"
          >Webcamera TV</a
        >
        <a class="nav-link" routerLinkActive="active" routerLink="/world-camera"
          >Earth TV</a
        >
      </div>
    </li>
    <li *ngIf="favouriteItems && favouriteItems.length > 0" class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/favourite"
        >Ulubione</a
      >
    </li>
  </ul>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light d-lg-none">
  <a class="navbar-brand" routerLink="/" (click)="closeNavigation()">
    <img class="logo" src="../../assets/img/logo.jpg" alt="weather app logo" />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav" #navbarNav>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLinkActive="active"
          routerLink="/"
          (click)="closeNavigation()"
          >Strona główna</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLinkActive="active"
          routerLink="/list"
          (click)="closeNavigation()"
          >Lista stacji IMGW</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLinkActive="active"
          routerLink="/weather-data"
          (click)="closeNavigation()"
          >Aktualne dane pogodowe</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLinkActive="active"
          routerLink="/weather-forecast"
          (click)="closeNavigation()"
          >Prognoza pogody</a
        >
      </li>
      <li class="nav-item">
        <a
          id="dropdownMenuButton"
          type="button"
          class="nav-link dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Kamery live
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a
            class="nav-link"
            routerLinkActive="active"
            routerLink="/webcamera"
            (click)="closeNavigation()"
            >Webcamera TV</a
          >
          <a
            class="nav-link"
            routerLinkActive="active"
            routerLink="/world-camera"
            (click)="closeNavigation()"
            >Earth TV</a
          >
        </div>
      </li>
      <li *ngIf="favouriteItems && favouriteItems.length > 0" class="nav-item">
        <a
          class="nav-link"
          routerLinkActive="active"
          routerLink="/favourite"
          (click)="closeNavigation()"
          >Ulubione</a
        >
      </li>
    </ul>
  </div>
</nav>
