<ul class="nav nav-tabs">
  <li class="nav-item">
    <a
      class="nav-link"
      aria-current="page"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLink="/"
      >Strona główna</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/list"
      >Lista stacji</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/weather-data"
      >Dane pogodowe</a
    >
  </li>
</ul>
