@import url("../../../assets/styles/_section.scss");

.img_container {
  display: flex;
  justify-content: center;
  align-items: center;

  .weather_icon {
    width: 150px;
    height: 150px;
  }
}

.radio_container {
  margin-bottom: 1em;
}

.clear_link:hover {
  cursor: pointer;
}

.header_item,
.sunrise,
.sunset,
.population {
  text-align: center;
}

.sunrise {
  @media (min-width: 768px) {
    text-align: right;
  }
}

.sunset {
  @media (min-width: 768px) {
    text-align: left;
  }
}

.card_container {
  margin-top: 0.5em;
  margin-bottom: 4em;

  .img_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;

    .card-img-top {
      width: 150px;
      padding: 1em;
    }
  }
}

.forecast_date {
  color: #0d6efd;
}

.card-title {
  font-size: 1rem;
}

.list-group-item {
  font-size: 0.8rem;
}
