.logo {
  width: 35px;
  height: 35px;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
}

.dropdown-toggle {
  text-decoration: none;
}

.dropdown-menu {
  left: unset;
}

.navbar-toggler-icon {
  font-size: 1rem;
}

.navbar-toggler {
  margin-right: 0.5em;
}
