<div class="row">
  <div class="col-12 center">
    <div class="card">
      <div class="card-body center">
        <h5 class="card-title">Wpisz dane logowania</h5>

        <div class="card-text">
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default"
              >Login</span
            >
            <input
              type="text"
              [(ngModel)]="login"
              class="form-control"
              aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-default"
            />
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default"
              >Hasło</span
            >
            <input
              type="password"
              [(ngModel)]="password"
              class="form-control"
              aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-default"
            />
          </div>

          <div class="center">
            <button
              type="button"
              class="btn btn-primary"
              (click)="toLogin()"
            >
              Zaloguj
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
