<div class="container">
  <div class="row header">
    <h1 class="col-12 header_text">Witaj w WeatherApp!</h1>
    <div class="backdrop"></div>
  </div>
</div>

<div class="container">
  <app-header></app-header>

  <router-outlet></router-outlet>
</div>

<small class="small_desc">
  <span class="small_text">
    Lista stacji jest pobierana z Państwowego Instytutu Badawczego
    <strong>IMGW</strong>, natomiast dane pogodowe są pobierane z
    <strong>Opean Weather Map.</strong>
  </span>
</small>
