.header_container {
  h3 {
    padding: 1em;
    text-align: center;
    margin-bottom: 0;
  }
}

.btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 1em;
}

.list-group-item-action:focus,
.list-group-item-action:hover {
  background-color: #fff;
  color: black;
}

.fa-sun {
  color: yellow;
}

.fa-umbrella {
  color: powderblue;
}

.info {
  font-size: 0.7rem;

  @media (min-width: 576px) {
    font-size: 1rem;
  }
}
