<div class="header_container">
  <div class="col-12">
    <h3>
      {{ stationItem?.stacja | uppercase }}
    </h3>
  </div>
</div>

<div class="info_container">
  <div class="list-group">
    <div class="list-group-item list-group-item-action" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Temperatura: {{ stationItem?.temperatura }}°C</h5>
        <small>{{ stationItem?.data_pomiaru | date : "dd.MM.yyyy" }}</small>
      </div>
      <div class="mb-1">
        <div>Ciśnienie powietrza: {{ stationItem?.cisnienie }} hPa</div>
        <div>Wilgotność: {{ stationItem?.wilgotnosc_wzgledna }} %</div>
        <div>Suma opadu: {{ stationItem?.suma_opadu }} %</div>
        <div>Prędkość wiatru: {{ stationItem?.predkosc_wiatru }} km/h</div>
        <div>Kierunek wiatru: {{ stationItem?.kierunek_wiatru }}°</div>
      </div>
    </div>
  </div>
</div>

<div class="btn_container">
  <button type="button" class="btn btn-primary" (click)="closeDialog()">
    Zamknij
  </button>
</div>
