<div class="row">
  <div class="col-12 header">
    <h3>WebCamera.pl - Kamery na żywo</h3>
  </div>
  <div class="col-12 col-xl-7">
    <iframe
      id="ytplayer"
      type="text/html"
      src="https://www.youtube.com/embed/WFht-IsyrFo?autoplay=1&origin=http://example.com&fs=0"
      frameborder="0"
      >
    </iframe>
  </div>
  <div class="col-12 col-xl-5 desc">
    Odkryj fascynujący świat pogody za pomocą funkcji WebCamera w naszej
    aplikacji! Dzięki dynamicznym obrazom na żywo z różnych lokalizacji,
    możesz bezpośrednio zanurzyć się w bieżące warunki atmosferyczne. To nie
    tylko prognoza - to doświadczenie na żywo, które sprawi, że śledzenie
    pogody stanie się fascynującą podróżą przez realny klimat różnych miejsc w
    Polsce. Poczuj atmosferę, śledź zmiany, i bądź przygotowany na każdą aurę
    – WebCamera to nowy wymiar zrozumienia pogody.
  </div>
</div>
