@import url("../../../assets/styles/_section.scss");

.img_container {
  display: flex;
  justify-content: center;
  align-items: center;

  .weather_icon {
    width: 150px;
    height: 125px;
    padding: 1em;
  }
}

.radio_container {
  margin-bottom: 1em;
}

.clear_link:hover {
  cursor: pointer;
}

.row {
  margin-bottom: 3em;
}

.header_item {
  display: flex;
  align-items: center;

  .favourite_icon {
    margin-left: 2em;

    em {
      color: yellow;
      text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
        1px 1px 0 black;
    }
  }
}

.small_desc {
  margin-left: 0.5em;
}
