<div class="row">
  <div class="col-12 header">
    <h3>EarthTV - Kamery ze świata na żywo</h3>
  </div>

  <div class="col-12 col-xl-5 desc">
    EarthTV to fascynujące miejsce, które zapewnia unikalne spojrzenie na
    różnorodność i piękno naszego świata. Na tej platformie dostępne są kamery
    na żywo z różnych zakątków globu, umożliwiając użytkownikom podróżowanie w
    czasie rzeczywistym i obserwowanie wyjątkowych miejsc. Niezależnie od tego,
    czy masz ochotę podziwiać panoramę miejskiego horyzontu, piękno przyrody czy
    tętniące życiem place, EarthTV zapewnia niezapomniane wrażenia wizualne.
  </div>
  <div class="col-12 col-xl-7 camera_container">
    <iframe
      id="ytplayer"
      type="text/html"
      src="https://www.youtube.com/embed/HfgIFGbdGJ0?autoplay=1&origin=http://example.com&fs=0"
      frameborder="0"
    >
    </iframe>
  </div>
</div>
