.header_app {
  margin: 1em 0;
}

.small_desc {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 0.5em 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);

  @media (min-width: 992px) {
    text-align: right;
  }

  .small_text {
    margin-right: 2em;
    margin-bottom: 1em;
    padding: 1em;
  }
}

.option {
  padding: 1em;
}

.list_link:hover {
  cursor: pointer;
  color: #0d6efd;
}
