<div class="row">
  <div class="col-12 header_app">
    <h3 class="header">Witaj w aplikacji pogodowej WeatherApp!</h3>
  </div>

  <div class="col-12">
    <app-timer></app-timer>
  </div>

  <div class="col-12 option">
    Przejdź do <span class="list_link" routerLink="/list">listy</span> i wybierz
    konkretną stację, aby sprawdzić informacje pogodowe.
  </div>

  <div class="col-12 option">
    Jeżeli chcesz sprawdzić dane pogodowe dla konkretnej miejscowości przejdź do
    odpowiedniej zakładki lub kliknij
    <span class="list_link" routerLink="/weather-data">tutaj</span>.
  </div>

  <div class="col-12 option">
    Możesz również sprawdzić prognozę pogody dla dowolnego miejsca na Świecie
    klikając
    <span class="list_link" routerLink="/weather-forecast">tutaj</span> bądź
    przechodząc do zakładki "Prognoza pogody".
  </div>

  <div class="col-12 option">
    Aplikacja umożliwia również również podgląd live z kamer w całej Polsce
    korzystając z
    <span class="list_link" routerLink="/webcamera">WebCamera.pl</span>.
  </div>

  <div class="col-12 option">
    Być może kamera z Polski nie wystarczy - mamy na to odpowiedź! Zajrzyj na
    <span class="list_link" routerLink="/world-camera">EarthTv</span> aby
    sprawdzić bieżącą pogodę na świecie.
  </div>
</div>
