<div class="row">
  <div class="col-12 header_app">
    <h3 class="header">Cześć {{ login }}! Witaj w aplikacji pogodowej WeatherApp!</h3>
  </div>

  <div class="col-12">
    <app-timer></app-timer>
  </div>

  <div class="col-12 option">
    Przejdź do
    <span class="list_link" routerLink="/list"><strong>listy</strong></span> i
    wybierz konkretną stację IMGW, aby sprawdzić informacje pogodowe.
  </div>

  <div class="col-12 option">
    Jeżeli chcesz sprawdzić dane pogodowe dla konkretnej miejscowości przejdź do
    odpowiedniej zakładki lub kliknij
    <span class="list_link" routerLink="/weather-data"
      ><strong>tutaj</strong></span
    >.
  </div>

  <div class="col-12 option">
    Możesz również sprawdzić prognozę pogody dla dowolnego miejsca na Świecie
    klikając
    <span class="list_link" routerLink="/weather-forecast"
      ><strong>tutaj</strong></span
    >
    bądź przechodząc do zakładki "Prognoza pogody".
  </div>

  <div class="col-12 option">
    Aplikacja umożliwia również również podgląd live z kamer w całej Polsce
    korzystając z
    <span class="list_link" routerLink="/webcamera"
      ><strong>WebCamera.pl</strong></span
    >.
  </div>

  <div class="col-12 option last_option">
    Być może kamera z Polski nie wystarczy - mamy na to odpowiedź! Zajrzyj na
    <span class="list_link" routerLink="/world-camera"
      ><strong>EarthTv</strong></span
    >
    aby sprawdzić bieżącą pogodę na świecie.
  </div>
</div>
