.header {
  margin: 2em 0;
}

.spinner_container {
  text-align: center;
}

.error_form {
  color: #d64646;
}

.img_container {
  display: flex;
  justify-content: center;
  align-items: center;

  .weather_icon {
    width: 150px;
    height: 150px;
  }
}

.radio_container {
  margin-bottom: 1em;
}

.clear_link:hover {
  cursor: pointer;
}

.item_header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2em;
}

.img_wrapper {
  text-align: center;

  .card-img-top {
    width: 150px;
  }
}
