@defer(on viewport){
<div class="row" [ngClass]="{ hidden_background: showBackdrop }">
  @if (isSpinner) {
  <div class="col-12 spinner_container">
    <app-spinner></app-spinner>
  </div>
  } @else {
  <div class="col-12 searcher">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control input_search"
        placeholder="Wyszukaj stację"
        [(ngModel)]="searchPhrase"
        aria-label="statnioName"
        aria-describedby="basic-addon1"
        (input)="searchStationByName($event)"
      />
      @if (searchPhrase && searchPhrase.length > 0) {
      <i class="fa-solid fa-xmark" (click)="clearSearcher()"></i>
      }
    </div>
  </div>

  <div class="col-12">
    <h2 class="header">Lista stacji meteorologicznych IMGW</h2>
  </div>

  <div class="col-12 list_container">
    <ul class="list-group">
      @for (station of stationList; track station.id_stacji) {
      <li class="list-group-item" (click)="getStationById(station.id_stacji)">
        {{ station.stacja }}
      </li>
      } @empty { Empty list of users }
    </ul>
  </div>
  }
</div>

@if (showBackdrop) {

<div class="backdrop"></div>
} } @placeholder {
<div class="col-12 spinner_container">
  <app-spinner></app-spinner>
</div>
}
