.spinner_container {
  text-align: center;
}

.list-group-item {
  &:hover {
    color: #fff;
    background-color: #0a58ca;
    cursor: pointer;
    transition: 0.3s;
  }
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 108%;
  background-color: rgba(0, 0, 0, 0.25);

  @media (min-width: 576px) {
    height: 100%;
  }
}

.hidden_background {
  max-height: 66vh;
  overflow: hidden;

  @media (min-width: 992px) {
    max-height: 68vh;
  }

  @media (min-width: 1200px) {
    max-height: 70vh;
  }

  @media (min-width: 1400px) {
    max-height: 72vh;
  }

  @media (min-width: 1600px) {
    max-height: 74vh;
  }

  @media (min-width: 1800px) {
    max-height: 76vh;
  }
}

.searcher {
  margin: 1em 0;

  .input_search {
    position: relative;
  }
  .fa-xmark {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;

    &:hover {
      cursor: pointer;
    }
  }
}

.list_container {
  margin-bottom: 3em;
}

.header {
  margin-bottom: 1em;
}
