<div class="container">
  <div class="row">
    <div class="col-12 header">
      <h4>Uzupełnij pole tekstowe i wciśnij enter</h4>
    </div>
    <div class="col-12">
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Wpisz miejscowość</span
        >
        <input
          #input_data
          type="text"
          class="form-control"
          [(ngModel)]="cityName"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default"
          (keyup.enter)="getWeatherByCityName(cityName, units)"
        />
      </div>
    </div>

    <div class="col-12 radio_container">
      <div>Wybierz skalę temperatury</div>
      <div class="form-check" (click)="clearData()">
        <input
          class="form-check-input"
          type="radio"
          name="tempUnit"
          id="celsius"
          value="metric"
          [(ngModel)]="units"
        />
        <label class="form-check-label" for="celsius"> Celsius </label>
      </div>
      <div class="form-check" (click)="clearData()">
        <input
          class="form-check-input"
          type="radio"
          name="tempUnit"
          id="fahrenheit"
          value="imperial"
          [(ngModel)]="units"
        />
        <label class="form-check-label" for="fahrenheit"> Fahrenheit </label>
      </div>
      <div class="form-check" (click)="clearData()">
        <input
          class="form-check-input"
          type="radio"
          name="tempUnit"
          id="kelvin"
          value="standard"
          [(ngModel)]="units"
        />
        <label class="form-check-label" for="kelvin"> Kelvin </label>
      </div>
    </div>

    <div *ngIf="isSpinner" class="col-12 spinner_container">
      <app-spinner></app-spinner>
    </div>

    <div *ngIf="errorMessage" class="error_form">
      {{ errorMessage }}
    </div>

    <div *ngIf="weatherItem" class="card">
      <div class="img_container">
        <img
          [src]="weatherIcon"
          class="card-img-top weather_icon"
          [alt]="weatherItem.name"
        />
      </div>
      <div class="card-body">
        <h5 class="card-title header_item">
          {{ weatherItem.name | uppercase }}
          <span *ngIf="weatherItem.isFavourite" class="favourite_icon"><em class="fa-solid fa-star"></em></span>
        </h5>
        <p class="card-text">
          Aktualne dane pogodowe
          <strong>{{
            weatherItem.dt * 1000 | date : "dd.MM.yyyy HH:mm"
          }}</strong>
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <strong>Temperatura:</strong> {{ weatherItem.main.temp }} stopni w
          skali
          <span [ngSwitch]="units">
            <span *ngSwitchCase="'metric'">Celsiusa</span>
            <span *ngSwitchCase="'imperial'">Fahrenheita</span>
            <span *ngSwitchCase="'standard'">Kelvina</span>
          </span>
        </li>
        <li class="list-group-item">
          <strong>Temperatura maksymalna:</strong>
          {{ weatherItem.main.temp_max }} °
        </li>
        <li class="list-group-item">
          <strong>Temperatura minimalna:</strong>
          {{ weatherItem.main.temp_min }} °
        </li>
        <li class="list-group-item">
          <strong>Ciśnienie:</strong> {{ weatherItem.main.pressure }} hPa
        </li>
        <li class="list-group-item">
          <strong>Wilgotność:</strong> {{ weatherItem.main.humidity }} %
        </li>
        <li class="list-group-item">
          <strong>Prędkość wiartu:</strong> {{ weatherItem.wind.speed }} m/s
        </li>
        <li class="list-group-item">
          <strong>Prędkość podmuchów wiartu:</strong>
          {{ weatherItem.wind.gust }} m/s
        </li>
        <li class="list-group-item">
          <strong>Zachmurzenie:</strong>
          {{ weatherItem.clouds.all }} %
        </li>
        <li class="list-group-item">
          <strong>Wschód słońca:</strong>
          {{ weatherItem.sys.sunrise * 1000 | date : "dd.MM.yyyy HH:mm" }}
        </li>
        <li class="list-group-item">
          <strong>Zachód słońca:</strong>
          {{ weatherItem.sys.sunset * 1000 | date : "dd.MM.yyyy HH:mm" }}
        </li>
      </ul>
      <div class="card-body clear_link">
        <a class="card-link" (click)="clearData()">Wyczyść</a>
        <a class="card-link" (click)="addToFavourite(weatherItem)"
          >Dodaj do ulubionych</a
        >
      </div>
    </div>
  </div>
</div>
